h1 {
  color: azure;
  font-family: "Papyrus", sans-serif;
  font-size: 50px;
  text-align: center;
  
  
}
p {
  color: azure;
  font-family: "Apple Chancery", sans-serif;
  font-size: 20px;
  letter-spacing: 2px;
  text-align:center;
}

body {
  background-image:
    url("http://41.media.tumblr.com/5e281922d545b0efa23aca1507e4dc5e/tumblr_nhu8n9ZOIi1rbl5n4o1_1280.jpg");
  background-repeat: repeat;

}

p.double {
  border-style: double;
  border-color: aqua;
}

.nav > div {
    background: #00CCCC;
    float: left;
    padding: 10px;
    border: 4px solid #660033;
    border-radius: 4px;
}
 
  /* unvisited link */
  .nav > a:link { "http://wallpaperbeta.com/wallpaper_3840x2160/dark_forest_leaves_tree_trunks_nature_ultra_3840x2160_hd-wallpaper-36809.jpg";
    color: azure;
  }

  /* visited link */
.nav >  a:visited {
    color: skyblue;
  }

  /* mouse over link */
.navbar_horizontal  > a:hover {
    color: gray;
  }

  /* selected link */
 .navbar_horizontal > a:active {
    color: blanchedalmond;
  }

.navbar_horizontal > a {
 background: #00CCCC;
 float: right;
 padding: 10px;
 border: 4px solid #660033;
 border-radius: 4px;
 display: inline-block; 
 text decoration: none;
}

.navbar_horizontal > div:hover {
  background:#99FFFF;
  height 120%;
}

body {
  width: 800 px;
  text-align: center;
  margin: 0 auto;
}

.navbar_horizontal {
  margin: auto;
  text-align: center; 
}



