
h1 {
  color: azure;
  font-family: "Papyrus", sans-serif;
  font-size: 50px;
  
  
}
body {
  color: azure;
  font-family: "Apple Chancery", sans-serif;
  font-size: 20px;
  letter-spacing: 2px;
  width: 800 px;
  text-align: center;
  margin: 0 auto;
}

background {
  background-image:
    url("http://41.media.tumblr.com/5e281922d545b0efa23aca1507e4dc5e/tumblr_nhu8n9ZOIi1rbl5n4o1_1280.jpg");
  background-repeat: no-repeat;

}

p.double {
  border-style: double;
  border-color: aqua;
}

a {
  color: azure;
  font-family: "Apple Chancery", sans-serif;
  letter-spacing: 2px;
  font-size: 15 px;
 
  /* unvisited link */
  a:link { "http://www.w3schools.com/js/js_functions.asp";
    color: azure;
  }

  /* visited link */
  a:visited { "http://www.w3schools.com/js/js_functions.asp"
    color: blanchedalmond;
  }

  /* mouse over link */
  a:hover { "http://www.w3schools.com/js/js_functions.asp"
    color: skyblue;
  }

  /* selected link */
  a:active { "http://www.w3schools.com/js/js_functions.asp"
    color: skyblue;
  }

.nav > div {
 background: #00CCCC;
 float: left;
 padding: 10px;
 border: 4px solid #660033;
 border-radius: 4px;
}

.nav > div:hover {
  background:#99FFFF;
  height 120%;
}


.nav {
  margin: auto;
  text-align: center; 
}



 
